@model Batch

<h2>Batch Enrollment Form</h2>

<form method="post">
    @Html.HiddenFor(m => m.BatchID)
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <button type="submit">Enroll</button>
</form>
<a asp-controller="Batch" asp-action="AvailableBatches" class="btn btn-primary">Back to available batches</a>

